.footer {
    margin-top: 60px;
    padding: 40px 0;
    background: $azul-medio;
    img {
        display: inline-block;
        margin-right: 140px;
    }
}

.footer-federacao, .footer-competicoes {
    display: inline-block;

    h3 {
        @include fontNiramit(16, 36);
        font-weight: bold;
        color: $branco;
    }
    ul {
        position: absolute;
        top: 36px;
    }
    ul li a {
        @include fontNiramit(14, 36);
        font-weight: 500;
        color: $branco;
    }
}


