// CABEÇALHO DA TABELA
.tableDetails {
    margin-top: 60px;
}

.tableHead {
    tr {
        height: 55px;
    }
    th {
        display: table-cell !important;
        vertical-align: middle !important;
        font-weight: 500;
        @include sizeTittle(14, 26);
        font-weight: bold;
        color: $cinza-2;
        padding: 0 !important;
    }
    th:first-child {
        text-align: left !important;
        padding-left: 15px !important;
        max-width: 30px !important;        
    }
}

// CORPO DA TABELA 
.tableBody {
    tr {
        height: 55px;
    }
    tr:nth-child(even){
        background: $cinza-6;
    }
    td {
        display: table-cell !important;
        vertical-align: middle !important;
        @include sizeTittle(14, 26);
        color: $cinza-1;
    }
    td:first-child {
    text-align: left;
    margin-left: 10px;
    }
    td:nth-child(1) {
        text-align: left;
        padding-left: 17px;
        width: 50px;
    }
    td:nth-child(2) {
        text-align: left;
        width: 26px;
    }
    td:nth-child(3) {
        text-align: left;
        width: 280px;
    }
    img {
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        min-height: 13px;
        min-width: 13px;
        max-height: 26px;
        max-width: 26px;
    }
}
