$azul-escuro: #003CC9;
$azul-medio: #124FDD;
$azul-claro: #2964EC;
$cinza-1: #17222D;
$cinza-2: #445566;
$cinza-3: #667788;
$cinza-4: #99AABB;
$cinza-5: #BBCCDD;
$cinza-6: #F3F7FA;
$branco: #FEFEFE;
$branco-2: #F9F9F9;
$amarelo-escuro: #FEB20F;
$amarelo-medio: #F9BD3D;
$amarelo-claro: #FFCE65;

$font-1: Arial, Helvetica, sans-serif; //para títulos 
$font-2: 'Niramit', sans-serif;
// $font-2: 'Roboto', sans-serif; //para corpo de texto

@function em($pixel, $contexto: 16){
    @return $pixel / $contexto + em;
}

@mixin sizeTittle($size: 16, $sizeLineH: 16) {
    font-family: $font-1;
    font-size: em($size);
    line-height: em($sizeLineH, $size);
}

@mixin sizeBody($size: 16, $sizeLineH: 16) {
    font-family: $font-2;
    font-size: em($size);
    line-height: em($sizeLineH, $size);
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}


@mixin fontNiramit($size: 16, $sizeLineH: 16) {
    font-family: $font-2;
    font-size: em($size);
    line-height: em($sizeLineH, $size);
}

